<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-16" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pizzeria Bella Napoli</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/la_mia_pizzeria_static.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="row mb-4 text-white w-100 align-items-center justify-content-center">
            <a class="col-6 text-center py-3 navbar-brand" asp-area="" asp-controller="Pizza" asp-action="Index"><h1>Pizzeria "Bella Napoli"</h1></a>
    </header>
    <div class="container">
        @RenderBody()
    </div>
    <footer class="row text-white mt-4 w-100">
        <div class="text-primary col text-center align-items-center justify-content-center py-3">
            Made with italian passion by Nicolò
    </footer>
</body>
</html>
