@model la_mia_pizzeria_static.Models.Pizza

@{
    ViewData["Title"] = ViewData["nomePizzeria"] + "-" + Model.Name;
}

<div class="row">
    <div class="col mb-2">
        <form asp-controller="Pizza" asp-action="Update" asp-route-id="@Model.Id" method="post">
            @Html.AntiForgeryToken()
            <h2 class="mb-5">Modifica Pizza</h2>
            <div class="mb-3">
                <label for="nome" class="form-label">Nome</label>
                <input asp-for="Name" type="text" class="form-control d-block w-100" id="nome">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="descrizione" class="form-label">Descrizione</label>
                <input asp-for="Description" type="text" class="form-control d-block w-100" id="descrizione">
                <span asp-validation-for="Name"></span>
            </div>
            <div class="mb-3">
                <label for="prezzo" class="form-label">Prezzo</label>
                <input asp-for="Price" type="text" class="form-control d-block w-100" id="prezzo">
                <span asp-validation-for="Name"></span>
            </div>
            <div class="mb-3">
                <img class="mb-3" src="~/img/@Model.ImgPath" alt="@Model.Name">
                <label for="img" class="form-label">Carica nuova immagine</label>
                <input asp-for="ImgPath" class="form-control d-block w-100" type="file" id="img">
                <span asp-validation-for="Name"></span>
            </div>
            <div class="mb-3">
                <input type="submit" class="btn btn-warning" value="Salva Modifiche">
                <button class="btn btn-primary">@Html.ActionLink("Torna Indietro", "Index", "Pizza", null, new { @class = "text-light text-decoration-none"})</button>
            </div>
        </form>
    </div>
</div>
